Gemini Dynamic Image Generator (1).json
{
  "name": "Gemini Dynamic Image Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "inkblot-icon",
        "options": {}
      },
      "id": "60dc1037-f083-4120-a086-849ddfed3dc2",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "webhookId": "fe43d0d0-961b-4cfb-913a-ea0f6a37423c"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent?key=AIzaSyCAz-xuvLIkhrMMVOITPjIOG8-2ERQd0AE",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": []
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contents",
              "value": "[{\"parts\":[{\"text\":\"Generate a detailed image: {{ $json.body.prompt }}\"}]}]"
            },
            {
              "name": "generationConfig",
              "value": "{\"responseMimeType\":\"image/png\"}"
            }
          ]
        },
        "options": {}
      },
      "id": "89f410b3-92fd-454d-a915-c13ae88cbc4e",
      "name": "Gemini API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        208,
        0
      ]
    },
    {
      "parameters": {
        "fileName": "=/tmp/inkline_bg_{{ Date.now() }}.png",
        "options": {}
      },
      "id": "3a63abcc-57cf-425c-a405-ce852a2b5c1d",
      "name": "Write Binary File",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        400,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Gemini API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini API": {
      "main": [
        [
          {
            "node": "Write Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ed790504-3731-4c5f-9fd5-c681a3ec1fa5",
  "meta": {
    "instanceId": "6701686dc6781a101aefe96a2085b2c3ce461322a1980c05b414ea319d35ff6a"
  },
  "id": "XwjZKX7JK6QI3Iht",
  "tags": []
}